<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">

            <!-- Section Title -->
            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" fxLayout="row" fxLayoutAlign="start end">
                <h4 class="title current-typo--h4 tb-flex--shrink-0">About Me.</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex></div>
            </div>

            <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>

            <!-- Main Layout -->
            <div fxLayout="row" fxLayout.xs="column">
                <!-- Left Text Block -->
                <div [fxFlexOrder]='1' [fxFlexOrder.xs]="2" fxFlex fxFlex.xs="none" fxFlex.sm="70" fxLayout="column">
                    <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

                    <!-- About Text -->
                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}" class="current-typo--body1-medium tb-color--black-54">
                        I'm a software developer with a strong foundation in C# and Python, and practical experience across both frontend and backend development. I've worked with technologies like WPF, React, React Native, and PyQt5 to build modern, responsive applications.
                    </p>

                    <div ngClass.gt-sm="tb-height--12" ngClass.sm="tb-height--8" ngClass.xs="tb-height--6"></div>

                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}" class="current-typo--body1-medium tb-color--black-54">
                        During my internship, I gained real-world experience building desktop tools with PyQt5 and optimizing Python applications using threading and multiprocessing. I enjoy clean, scalable code and building solutions that combine strong UI with efficient logic.
                    </p>

                    <!-- Experience Stats -->
                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}" fxLayout="row">
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">2+</h2>
                            <h4 class="title current-typo--h6">Years of Experience</h4>
                        </div>
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">10+</h2>
                            <h4 class="title current-typo--h6">Projects Completed</h4>
                        </div>
                    </div>

                    <!-- Language Skills -->
                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>
                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:400}}" fxLayout="row wrap" fxLayoutGap="6">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Languages</h5>
                        </div>
                        <div class="skill" style="background-color: #3E97FF;">
                            <h5 class="current-typo--h5 tb-color--white">C#</h5>
                        </div>
                        <div class="skill" style="background-color: #306998;">
                            <h5 class="current-typo--h5 tb-color--white">Python</h5>
                        </div>
                        <div class="skill" style="background-color: #6DB33F;">
                            <h5 class="current-typo--h5 tb-color--white">Java</h5>
                        </div>
                        <div class="skill" style="background-color: #F7DF1E;">
                            <h5 class="current-typo--h5 tb-color--black">JavaScript</h5>
                        </div>
                        <div class="skill" style="background-color: #2F74C0;">
                            <h5 class="current-typo--h5 tb-color--white">TypeScript</h5>
                        </div>
                    </div>

                    <!-- Frameworks & Libraries -->
                    <div ngClass.gt-sm="tb-height--40" ngClass.sm="tb-height--32" ngClass.xs="tb-height--27"></div>
                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:450}}" fxLayout="row wrap" fxLayoutGap="6" class="frameworks-flex-row">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Frameworks & Libraries</h5>
                        </div>
                        <div class="skill" style="background-color: #512BD4;">
                            <h5 class="current-typo--h5 tb-color--white">.NET Core</h5>
                        </div>
                        <div class="skill" style="background-color: #FF5722;">
                            <h5 class="current-typo--h5 tb-color--white">React</h5>
                        </div>
                        <div class="skill" style="background-color: #61DBFB;">
                            <h5 class="current-typo--h5 tb-color--black">React Native</h5>
                        </div>
                        <div class="skill" style="background-color: #178600;">
                            <h5 class="current-typo--h5 tb-color--white">WPF</h5>
                        </div>
                        <div class="skill" style="background-color: #17A2B8;">
                            <h5 class="current-typo--h5 tb-color--white">PyQt5</h5>
                        </div>
                        <div class="skill" style="background-color: #6DB33F;">
                            <h5 class="current-typo--h5 tb-color--white">Spring Boot</h5>
                        </div>
                    </div>

                    <!-- CV Button -->
                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>
                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:600}}" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32">
                        <a class="btn-area-cv" href="https://docs.google.com/document/d/1WyVEPqgaEzhTtXoTAiX4BwbVo7JCm5FC/edit?usp=sharing&ouid=109297083261470083390&rtpof=true&sd=true" target="_blank">
                            <button mat-raised-button color="primary">
                                <span class="current-typo--button-medium">Download CV.</span>
                            </button>
                        </a>
                    </div>  
                </div>

                <!-- Right Image Block -->
                <div fxFlex.xs="none" fxFlex [fxFlexOrder.xs]="1" [fxFlexOrder]="2" class="image-container" fxLayout="column" fxLayoutAlign="center stretch">
                    <div [@transitionImageScale]="{value:_mTriggerAnim, params: {animDelay: 800}}" class="tb-text--align-center image-area" #imageAreaView>
                        <img class="image tb-position--relative" src="assets/img/avatar/pic_avatar.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
